canvas{
  position: fixed;
  top: 0;
  left: 0;
}
main{
  position: absolute;
}

h1{
  color:deeppink;
  font: 100;
  size: 30px;
}


#project{
  color: aliceblue;
  font: 500;
  size: 20;
}

p{
  color: aqua;
  size: 12;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table1{
  color: beige;
  size: 118px;
  font-family: Arial, Helvetica, sans-serif;
}